{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block title %}Success{% endblock %}

{% block item %}
    <li class="breadcrumb-item"><a href="{% url 'change_password' %}">Change Password</a></li>
    <li class="breadcrumb-item active">Success</li>
{% endblock %}


{% block content %}
<div class="container">
    <h1 class="text-center logo my-4">
        <a href="{% url 'home' %}">Discussion Board</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="alert alert-success" role="alerts">
                <p class="mb-0">Success! Your Password Has Been Changed!</p>
            </div>
            <a href="{% url 'home' %}" type="button" class="btn btn-secondary btn-lg btn-block">Return To Home</a>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}